<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dayanne Dockhorn - Author</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:opsz@7..72&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" sizes="32x32" type="image/png" href="../favicon-32x32.png">
    <link rel="icon" sizes="64x64" type="image/png" href="../favicon-64x64.png">
    <link rel="canonical" href="{{ metadata.url }}{{ page.url | url }}">
    <meta name="description" content="Dayanne Dockhorn is an anthropologist, essayist, and fiction writer who has been writing for more than 15 years, discovering in literature a means of expression.">
    <meta property="og:title" content="Dayanne Dockhorn - Author" />
    <meta property="og:description" content="Dayanne Dockhorn is an anthropologist, essayist, and fiction writer who has been writing for more than 15 years, discovering in literature a means of expression.">
    <meta property="og:image" content="https://dayannedockhorn.com/og-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://dayannedockhorn.com">
</head>
<body class="text-white">
  <div class="rounded-sm bg-[var(--light-pink)] py-4 w-full border-8 border-[var(--primary)]">
    <div class="container mx-auto flex flex-col md:flex-row justify-center items-center gap-y-2 gap-x-4">
      <p class="text-black text-sm lg:text-base text-center">
        My new book <em>Moments Missed</em> is available for sale!
      </p>

      <a
        href="/en/moments-missed"
        class="block bg-[var(--primary)] text-white px-3 py-1.5 rounded-md font-semibold text-center no-underline hover:bg-[#333863] transition"
      >
        Learn more
      </a>
    </div>
  </div>

  <nav>
    <ul class="flex justify-center gap-x-10 tracking-widest text-sm uppercase px-10 my-10">
      <li>
        <a href="/">About me</a>
      </li>
      <li class="lg:mr-auto">
        <a href="/#publications">Publications</a>
      </li>
      <li class="hidden md:block lg:ml-auto">
        <a href="https://www.instagram.com/dayannedockhorn" target="_blank">Instagram</a>
      </li>
      <li class="hidden md:block">
        <a href="https://dayannedockhorn.substack.com/" target="_blank">
          Newsletter
        </a>
      </li>
      <li class="hidden md:block">
        <a href="mailto:dayannedockhorn@gmail.com">Email</a>
      </li>
    </ul>
</nav>

<header class="mb-16 md:flex container mx-auto justify-center gap-x-20 lg:mb-24 px-8 md:px-8 lg:px-0">
  <h1 class="text-6xl lg:text-8xl font-['Literata'] tracking-tighter">
    Dayanne<br>Dockhorn
  </h1>

  <p class="max-w-md prose prose-xl text-white mt-12 lg:mt-24">
    I'm an anthropologist, essayist, and fiction writer who has been writing for more than 15 years,
    discovering in literature a means of expression.
  </p>
</header>

<main>
  <div id="about" class="marquee about-heading h-20 bg-repeat-x bg-contain relative z-10 opacity-50">
    <h2 class="sr-only">Sobre mim</h2>
  </div>
  <div class="container mx-auto lg:flex justify-center gap-x-20">
    <div class="max-w-80 mx-auto lg:mx-0 lg:sticky top-8 self-start h-fit bg-[#DCD6F7] mt-8 lg:-mt-20">
      <img
        src="../dayanne-dockhorn.jpg"
        alt="Dayanne Dockhorn"
        class="image-shadow border-none block"
      />
    </div>

    <div class="max-w-md prose prose-p:text-white lg:prose-lg mx-auto lg:mx-0 mt-10 px-6 lg:px-0">
      <p>
        I was born in Porto Alegre, Brazil, in 1993 and grew up imagining a life guided by the art of words. From an early age, writing was a safe place for me. In the first years, I wrote poetry to escape reality, and I still occasionally attempt a poem or two.
      </p>

      <p>
        My appreciation for personal essays came later, when I spent about two years traveling across the American continent with no set time to return home. During that time, I wrote about living a life with more freedom of choice.
      </p>

      <p>
        A bit later, I found in writing a way to process reality, learning to direct the wind through fictional narratives. I borrowed the voices of writers who came before me, until at 30, I finally found my own way of telling stories.
      </p>
    </div>

    <div class="sidenote hidden lg:block sticky text-base top-8 uppercase h-fit mt-10">
      &mdash; About me &mdash;
    </div>
  </div>

  <section class="my-32">
    <div id="publications" class="marquee publications-heading h-20 bg-repeat-x bg-contain relative z-10 opacity-50">
      <h2 class="sr-only">Publications</h2>
    </div>

    <div class="container mx-auto lg:-mt-20">
      <div class="flex flex-col lg:flex-row-reverse items-center gap-x-20 justify-center relative mt-8 lg:mt-0">
        <div class="max-w-lg px-6">
          <div class="bg-[#A6B1E1]">
            <img
              src="../antologia-quem-dera.jpg"
              alt="Poema da Dayanne Dockhorn na antologia Quem dera (Ed. Urutau, 2019)"
              class="image-shadow"
            />
          </div>

          <p class="mt-4 text-xs px-8 text-balance leading-relaxed">
            <caption>
              My poems have been published in various Brazilian anthologies, such as the celebrated
              <em>Quem dera</em> (Ed. Urutau, 2019).
            </caption>
          </p>
        </div>

        <div class="bg-[var(--light-green)] mt-10 lg:mt-0 p-10 max-w-xl prose prose-lg prose:color-black prose-a:text-[#424874] prose-a:font-extrabold">
          <p>
            Since 2018, I have been writing on <a href="https://dayannedockhorn.medium.com" target="_blank">Medium</a>.
            There, I have published several poems, essays about my years as a traveler, and more recently, the results
            of my research on <a href="https://dayannedockhorn.medium.com/luto-pelos-animais-de-estimacao-luto-pet-dba728e6009a" target="_blank">pet grief</a>.
          </p>

          <p>
            In my newsletter, <a href="https://dayannedockhorn.substack.com/" target="_blank">Inventário</a>, I discuss the creative process of my first novel and also talk about what it was like to write <em>Moments Missed</em>.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="flex justify-between align-center  mx-10 py-5 mt-5 border-t border-[var(--pink)] text-[var(--pink)]">
  <p class="text-sm uppercase tracking-widest m-0">&copy; Dayanne Dockhorn</p>
  <p class="text-sm uppercase tracking-widest m-0">&ndash; 13 &ndash;</p>
</footer>

<style>

  body {
    background-color: var(--primary);
  }
.top-bar {
  background-color: var(--light-green);
  color: #000;
  font-size: 1.75rem;
  margin: 1rem;
  padding: 10px 0;
  text-align: center;
}

.container {
  padding: 0 15px;
}
</style>

<script>


  document.addEventListener('DOMContentLoaded', () => {
    const banners = document.getElementsByClassName('marquee');
    let scrollPosition = 0;
    let ticking = false;

    function animateBanners(scrollPos) {
      const moveAmount = scrollPos * 0.2;
      Array.from(banners).forEach(banner => {
        banner.style.backgroundPosition = `${moveAmount}px 0`;
      });
    }

    window.addEventListener('scroll', () => {
      scrollPosition = window.scrollY;

      if (!ticking) {
        window.requestAnimationFrame(() => {
          animateBanners(scrollPosition);
          ticking = false;
        });

        ticking = true;
      }
    });
  });
  </script>
</body>
</html>
