<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dayanne Dockhorn - Site da autora</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:opsz@7..72&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" sizes="32x32" type="image/png" href="favicon-32x32.png">
    <link rel="icon" sizes="64x64" type="image/png" href="favicon-64x64.png">
    <link rel="canonical" href="{{ metadata.url }}{{ page.url | url }}">
    <meta name="description" content="Sou antropóloga, ensaísta e ficcionista. Escrevo há mais de 15 anos e cresci imaginando uma vida guiada pela arte das palavras.">
    <meta property="og:title" content="Dayanne Dockhorn" />
    <meta property="og:description" content="Antropóloga, ensaísta e ficcionista, nasci em Porto Alegre em 1993 e cresci imaginando uma vida guiada pelas artes narrativas.">
    <meta property="og:image" content="https://dayannedockhorn.com/og-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="https://dayannedockhorn.com">
</head>
<body class="text-white">
  <div class="rounded-sm bg-[var(--light-pink)] py-4 w-full border-8 border-[var(--primary)]">
    <div class="container mx-auto flex flex-col md:flex-row justify-center items-center gap-y-2 gap-x-4">
      <p class="text-black text-sm lg:text-base text-center">
        Pequenas Ausências está de volta! Compre o seu exemplar.
      </p>

      <a
        href="/pequenas-ausencias/"
        class="block bg-[var(--primary)] text-white px-3 py-1.5 rounded-md font-semibold text-center no-underline hover:bg-[#333863] transition"
      >
        Quero comprar
      </a>
    </div>
  </div>

  <nav>
    <ul class="flex justify-center gap-x-10 tracking-widest text-sm uppercase px-10 my-10">
        <li class="hidden md:block">
          <a href="#about">Sobre mim</a>
        </li>
        <li class="hidden md:block lg:mr-auto">
          <a href="#publications">Publicações</a>
        </li>
        <li class="lg:ml-auto">
          <a href="https://www.instagram.com/dayannedockhorn" target="_blank">Instagram</a>
        </li>
        <li>
          <a href="https://dayannedockhorn.substack.com/" target="_blank">
            Newsletter
          </a>
        </li>
        <li>
          <a href="mailto:dayannedockhorn@gmail.com">Email</a>
        </li>
    </ul>
</nav>

<header class="mb-16 md:flex container mx-auto justify-center gap-x-20 lg:mb-24 px-8 md:px-8 lg:px-0">
  <h1 class="text-6xl lg:text-8xl font-['Literata'] tracking-tighter">
    Dayanne<br>Dockhorn
  </h1>

  <p class="max-w-md prose prose-xl text-white mt-12 lg:mt-24">
    Sou antropóloga, ensaísta e ficcionista. Escrevo há mais de 15 anos e encontro na literatura uma forma de expressão.
  </p>
</header>

<main>
  <div id="about" class="marquee about-heading h-20 bg-repeat-x bg-contain relative z-10 opacity-50">
    <h2 class="sr-only">Sobre mim</h2>
  </div>
  <div class="container mx-auto lg:flex justify-center gap-x-20">
    <div class="max-w-80 mx-auto lg:mx-0 lg:sticky top-8 self-start h-fit bg-[#DCD6F7] mt-8 lg:-mt-20">
      <img
        src="dayanne-dockhorn.jpg"
        alt="Dayanne Dockhorn"
        class="image-shadow border-none block"
      />
    </div>

    <div class="max-w-md prose prose-p:text-white lg:prose-lg mx-auto lg:mx-0 mt-10 px-6 lg:px-0">
      <p>
        Nasci em Porto Alegre em 1993 e cresci imaginando uma vida guiada pela arte das palavras. Desde cedo, a escrita foi para mim um lugar seguro. Nos primeiros anos, escrevi poesia para escapar da realidade, e ainda arrisco um poema ou outro de vez em quando.
      </p>

      <p>
        O apreço pelos ensaios pessoais veio depois, quando passei cerca de dois anos viajando  pelo continente americano sem prazo para voltar para casa. Nessa época, escrevi sobre viver uma vida com mais liberdade de escolha.
      </p>

      <p>
        Um pouco mais tarde, encontrei na escrita uma forma de processar a realidade, aprendendo a direcionar o vento através das narrativas ficcionais. Tomava emprestada a voz dos escritores que vieram antes de mim, até que, aos 30, finalmente encontrei meu próprio modo de contar histórias.
      </p>
    </div>

    <div class="sidenote hidden lg:block sticky text-base top-8 uppercase h-fit mt-10">
      &mdash; Sobre mim &mdash;
    </div>
  </div>

  <section class="my-32">
    <div id="publications" class="marquee publications-heading h-20 bg-repeat-x bg-contain relative z-10 opacity-50">
      <h2 class="sr-only">Publicações</h2>
    </div>

    <div class="container mx-auto lg:-mt-20">
      <div class="flex flex-col lg:flex-row-reverse items-center gap-x-20 justify-center relative mt-8 lg:mt-0">
        <div class="max-w-lg px-6">
          <div class="bg-[#A6B1E1]">
            <img
              src="antologia-quem-dera.jpg"
              alt="Poema da Dayanne Dockhorn na antologia Quem dera (Ed. Urutau, 2019)"
              class="image-shadow"
            />
          </div>

          <p class="mt-4 text-xs px-8 text-balance leading-relaxed">
            <caption>
            Poemas meus já foram publicados em diversas antologias brasileiras,
            como a celebrada <em>Quem dera</em> (Ed. Urutau, 2019).
            </caption>
          </p>
        </div>

        <div class="bg-[var(--light-green)] mt-10 lg:mt-0 p-10 max-w-xl prose prose-lg prose:color-black prose-a:text-[#424874] prose-a:font-extrabold">
          <p>
            Desde 2018, escrevo no <a href="https://dayannedockhorn.medium.com" target="_blank">Medium</a>, uma comunidade de escritores e leitores interessados nos mais diversos assuntos. Lá, já publiquei diversos poemas, ensaios a respeito dos meus anos como viajante e, mais recentemente, o resultado das minhas pesquisas sobre o <a href="https://dayannedockhorn.medium.com/luto-pelos-animais-de-estimacao-luto-pet-dba728e6009a" target="_blank">luto dos animais de companhia</a>.
          </p>

          <p>
            Na minha newsletter, <a href="https://dayannedockhorn.substack.com/" target="_blank">Inventário</a>, discuto o processo de criação do meu primeiro romance e também falo sobre como foi escrever <em>Pequenas Ausências</em>.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="flex justify-between align-center  mx-10 py-5 mt-5 border-t border-[var(--pink)] text-[var(--pink)]">
  <p class="text-sm uppercase tracking-widest m-0">&copy; Dayanne Dockhorn</p>
  <p class="text-sm uppercase tracking-widest m-0">&ndash; 13 &ndash;</p>
</footer>

<style>

  body {
    background-color: var(--primary);
  }
.top-bar {
  background-color: var(--light-green);
  color: #000;
  font-size: 1.75rem;
  margin: 1rem;
  padding: 10px 0;
  text-align: center;
}

.container {
  padding: 0 15px;
}
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const banners = document.getElementsByClassName('marquee');
    let scrollPosition = 0;
    let ticking = false;

    function animateBanners(scrollPos) {
      const moveAmount = scrollPos * 0.2;
      Array.from(banners).forEach(banner => {
        banner.style.backgroundPosition = `${moveAmount}px 0`;
      });
    }

    window.addEventListener('scroll', () => {
      scrollPosition = window.scrollY;

      if (!ticking) {
        window.requestAnimationFrame(() => {
          animateBanners(scrollPosition);
          ticking = false;
        });

        ticking = true;
      }
    });
  });
  </script>
</body>
</html>
