@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #424874;
  --light-green: #D6E5E3;
  --green: #DEE8CD;
  --pink: #DCD6F7;
  --light-pink: #E6C7E2;
}
body {
  background-color: var(--primary);
}
.top-bar {
  background-color: var(--light-green);
  color: #000;
  font-size: 1.75rem;
  margin: 1rem;
  padding: 10px 0;
  text-align: center;
}
.container {
  padding: 0 15px;
}
#checkout-form::-webkit-scrollbar {
  width: 8px;
}
#checkout-form::-webkit-scrollbar-track {
  background: var(--primary);
}
#checkout-form::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
nav a {
  position: relative;
}
nav a:hover {
  color: var(--pink);
}
nav a:hover:after {
  display: block;
  position: absolute;
  bottom: -1rem;
  content: "";
  width: 100%;
  height: 10px;
  background-image: url("highlight.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.btn-primary {
  @apply bg-[#c998c3] text-black px-6 py-2 rounded-full font-bold text-center no-underline hover:bg-[#b87caf] transition;
}
.btn-outline {
  @apply bg-transparent border-[#c998c3] border-2 text-white px-6 py-2 rounded-full font-bold text-center no-underline hover:bg-[#c998c3] hover:text-black transition;
}
.about-heading {
  background-image: url("sobre-mim.svg");
}
.publications-heading {
  background-image: url("publications.svg");
}
.image-shadow {
  transform: translate(-10px, -10px);
  transition: all 0.1s ease;
}
.image-shadow:hover {
  transform: translate(0px, 0px);
}
.solid-shadow {
  box-shadow: 10px 10px 0 #cfddb8;
}
.about-book {
  background-image: url("mockup-capamiolo.jpg");
}
.sidenote {
  color: var(--pink);
  letter-spacing: 0.8em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
button[disabled] {
  opacity: 0.5;
  cursor: wait;
}
.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
@keyframes rotate {
  100% {transform: rotate(360deg)}
}
@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}